.ch-top-title,
.ch-top-title-s2,
.ch-top-title-s3 {
	margin-bottom: 60px;

	@include media-query(991px) {
		margin-bottom: 40px;
		text-align: center;
	}

	@include media-query(575px) {
		margin-bottom: 20px;
		text-align: center;
	}

	span {
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 4px;
		text-transform: uppercase;
		color: $project-primary-color;
		font-family: $heading-font;
		
		@media(max-width:767px) {
			font-size: 15px;
			letter-spacing: 4px;
		}
		@media (min-width: 767px) and (max-width: 1199px) {
			font-size: 32px;
		}
	}
	span.why{
		line-height: 56px;
	}
	span.testimonial {
		font-size: 18px;
		@media (min-width: 767px) and (max-width: 1199px) {
			font-size: 20px;
			letter-spacing: 4px;
		}
		@media(max-width:767px) {
		}
	}
	
	h2 {
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 60px;
		color: $white;
		margin-top: 5px;

		@media (max-width: 575px) {
			line-height: 30px;
		}
		
		@media (min-width: 767px) and (max-width: 1199px) {
			font-size: 30px !important;
			line-height: 30px;
		}
		
		small {
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1px #1F212D;
		}
		
	}
	h2.testimonial {
		font-size: 48px;
		margin-top: 20px !important;
		line-height: 45px;
		@media (max-width: 575px) {
			font-size: 28px;
		}
	}
	
	p {
		font-size: 18px;
		@media (max-width: 575px) {
			font-size: 16px;
		}
	}
}

.ch-top-title-s2 {
	text-align: center;

	span {
		color: $main-heading-color;
	}
	h2 {
		color: $main-heading-color;
	}
}

// ch-top-title-s3

.ch-top-title-s3 {

	span {
		color: $main-heading-color;
	}

	h2 {
		color: $main-heading-color;
	}
}